<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 id="myName">
    </h1>
    
    <script>

        // let person = {
        //     firstName: "Non",
        //     lastName: "Inthasian",
        //     id: 1234,
        //     fullName: function(){
        //         return this.firstName + " " + this.lastName;
        //     }
        // }
        // console.log(person.fullName());

        //  let age = 50;
        //  switch(age) {
        //     case 10:
        //         console.log("You are baby");
        //         break;
        //     case 20:
        //         console.log("You are young");
        //         break;
        //     case 30:
        //         console.log("You are old");
        //         break;
        //     default:
        //             console.log("???");
        //  }

        for (let i =0; i < 10; i++){
            console.log(i);

        }

        // if (age < 30) {
        //     console.log("You are young")
        // } else {
        //     console.log("You are old")
        // }



    </script>
</body>
</html>